/*==========================================*/

/*LOGIN VIEW*/

/*窗口关闭按钮*/
#login_view_close_btn {
    background-image: url("close_btn_icon.png");
    background-size: contain;
    margin: 10px;
    padding: 3px;
    background-repeat: no-repeat;
    opacity: 0.5;
    border: none;
}
#login_view_close_btn:hover {
    opacity: 1;
    box-shadow: none;
}

/*登录按钮*/
#login_view_login_btn {
    background-image: url("next_btn_icon.png");
    background-size: contain;
    margin: 10px;
    padding: 5px;
    background-repeat: no-repeat;
    opacity: 1;
    border: none;
}
#login_view_login_btn:hover {
    opacity: 0.8;
    box-shadow: none;
}

/*注册按钮*/
#login_view_reg_btn {
    background-color: transparent;
    border: none;
    font-family: sans-serif;
    font-size: medium;
    font-weight: bold;
}
#login_view_reg_btn:hover {
    background-color: transparent;
    border: none;
    box-shadow: none;
    font-family: sans-serif;
    font-size: medium;
    font-weight: bold;
}

/*ID输入框*/
#login_view_id_entry {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid grey;
    border-radius: 0;
    font-family: sans-serif;
    font-size: large;
    font-weight: bold;
}

#login_view_id_entry:focus{
    border-style:solid;
    border-bottom-color: #85B1FF;
    box-shadow: none;
    font-family: sans-serif;
    font-size: large;
    font-weight: bold;
}

/*密码输入框*/
#login_view_psw_entry {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid grey;
    border-radius: 0;
    font-family: sans-serif;
    font-size: large;
    font-weight: bold;
}

#login_view_psw_entry:focus{
    border-style:solid;
    border-bottom-color: #85B1FF;
    box-shadow: none;
    font-family: sans-serif;
    font-size: large;
    font-weight: bold;
}

/*logo*/
#login_view_logo{
    background-image: url("logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 37%;
}

/*window*/
#login_view_window {
    background-color: whitesmoke;
}

/*font*/
#login_view_font_id, #login_view_font_password{
    font-family: sans-serif;
    font-size: large;
    font-weight: bold;
}

/*==========================================*/

#register_view_window{
    background-color: whitesmoke;
}

#register_view_entry_name{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid grey;
    border-radius: 0;
    font-family: sans-serif;
    font-size: large;
    font-weight: bold;
}

#register_view_entry_name:focus{
    border-style:solid;
    border-bottom-color: #85B1FF;
    box-shadow: none;
    font-family: sans-serif;
    font-size: large;
    font-weight: bold;
}

#register_view_entry_pwd{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid grey;
    border-radius: 0;
    font-family: sans-serif;
    font-size: large;
    font-weight: bold;
}

#register_view_entry_pwd:focus{
    border-style:solid;
    border-bottom-color: #85B1FF;
    box-shadow: none;
    font-family: sans-serif;
    font-size: large;
    font-weight: bold;
}

#register_view_entry_check{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid grey;
    border-radius: 0;
    font-family: sans-serif;
    font-size: large;
    font-weight: bold;
}

#register_view_entry_check:focus{
    border-style:solid;
    border-bottom-color: #85B1FF;
    box-shadow: none;
    font-family: sans-serif;
    font-size: large;
    font-weight: bold;
}

#register_view_label_name, #register_view_label_pass, #register_view_label_check{
    font-family: sans-serif;
    font-size: large;
    font-weight: bold;
}

#register_view_logo{
    background-image: url("logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 37%;
}

/*submit按钮*/
#register_view_submit_btn {
    background-color: transparent;
    border: none;
    font-family: sans-serif;
    font-size: medium;
    font-weight: bold;
}
#register_view_submit_btn:hover {
    background-color: transparent;
    border: none;
    box-shadow: none;
    font-family: sans-serif;
    font-size: medium;
    font-weight: bold;
}

/*cancel按钮*/
#register_view_cancel_btn {
    background-color: transparent;
    border: none;
    font-family: sans-serif;
    font-size: medium;
    font-weight: bold;
}
#register_view_cancel_btn:hover {
    background-color: transparent;
    border: none;
    box-shadow: none;
    font-family: sans-serif;
    font-size: medium;
    font-weight: bold;
}

/*窗口关闭按钮*/
#register_view_close_btn {
    background-image: url("close_btn_icon.png");
    background-size: contain;
    margin: 10px;
    padding: 3px;
    background-repeat: no-repeat;
    opacity: 0.5;
    border: none;
}
#register_view_close_btn:hover {
    opacity: 1;
    box-shadow: none;
}

/*=======mainView==========*/

/*close btn*/
#main_view_close_btn {
    background-image: url("close_btn_icon.png");
    background-size: contain;
    margin: 10px;
    padding: 3px;
    background-repeat: no-repeat;
    opacity: 0.5;
    border: none;
}
#main_view_close_btn:hover {
    opacity: 1;
    box-shadow: none;
}

/*other btn*/
#main_view_go_btn, #main_view_contacts_btn, #main_view_group_btn, #main_view_send_btn {
    background-color: transparent;
    border: none;
    font-family: sans-serif;
    font-size: medium;
    font-weight: bold;
}
#main_view_go_btn:hover, #main_view_contacts_btn:hover, #main_view_group_btn:hover, #main_view_send_btn:hover {
    background-color: transparent;
    border: none;
    box-shadow: none;
    font-family: sans-serif;
    font-size: medium;
    font-weight: bold;
}

/*main icon*/
#main_view_logo {
    background-image: url("logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 37%;
}

#main_view_name_label{
    font-family: sans-serif;
    font-size: large;
    font-weight: bold;
    background-color: whitesmoke;
    min-height: 30px;
}

#main_view_window{
    background-color: white;
}

#main_view_input_text{
    font-family: sans-serif;
    font-size: x-large;
    font-weight: bold;
    /*margin: 5pt;*/
    /*background-color: red;*/
    padding: 15px;
}

#main_view_friend_tree_view, #main_view_group_tree_view{
    font-family: sans-serif;
    font-size: large;
    font-weight: bold;
    /*text-align: center;*/
}


#main_view_receive_box{
    font-family: sans-serif;
    font-size: x-large;
    font-weight: bold;
    /*margin: 5pt;*/
    /*background-color: red;*/
    padding: 15px;
}

#main_view_send_box{
    font-family: sans-serif;
    font-size: x-large;
    font-weight: bold;
    /*margin: 5pt;*/
    /*background-color: red;*/
    padding: 15px;
}
