/*==========================================*/

/*LOGIN VIEW*/

/*窗口关闭按钮*/
#login_view_close_btn {
    background-image: url("close_btn_icon.png");
    background-size: contain;
    margin: 10px;
    padding: 3px;
    background-repeat: no-repeat;
    opacity: 0.5;
    border: none;
}
#login_view_close_btn:hover {
    opacity: 1;
    box-shadow: none;
}

/*登录按钮*/
#login_view_login_btn {
    background-image: url("next_btn_icon.png");
    background-size: contain;
    margin: 10px;
    padding: 5px;
    background-repeat: no-repeat;
    opacity: 0.5;
    border: none;
}
#login_view_login_btn:hover {
    opacity: 1;
    box-shadow: none;
}

/*注册按钮*/
#login_view_reg_btn {
    background-color: red;
}

/*ID输入框*/
#login_view_id_entry {
    background-color: red;
}

/*密码输入框*/
#login_view_psw_entry {
    background-color: red;
}

/*==========================================*/