/*==========================================*/

/*LOGIN VIEW*/

/*窗口关闭按钮*/
#login_view_close_btn {
    background-image: url("close_btn_icon.png");
    background-size: contain;
    margin: 10px;
    padding: 3px;
    background-repeat: no-repeat;
    opacity: 0.5;
    border: none;
}
#login_view_close_btn:hover {
    opacity: 1;
    box-shadow: none;
}

/*登录按钮*/
#login_view_login_btn {
    background-image: url("next_btn_icon.png");
    background-size: contain;
    margin: 10px;
    padding: 5px;
    background-repeat: no-repeat;
    opacity: 1;
    border: none;
}
#login_view_login_btn:hover {
    box-shadow: none;
}

/*注册按钮*/
#login_view_reg_btn {
    background-color: transparent;
}

/*ID输入框*/
#login_view_id_entry {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid grey;
    border-radius: 0;
}

#login_view_id_entry:focus{
    border-style:solid;
    border-bottom-color: #03a9f4;
    box-shadow: none;
}

/*密码输入框*/
#login_view_psw_entry {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid grey;
    border-radius: 0;
}

#login_view_psw_entry:focus{
    border-style:solid;
    border-bottom-color: #03a9f4;
    box-shadow: none;
}


/*==========================================*/